# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. Julia
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. ggplot

|Data Science Tools|
|-|
|spark|
|flink|
|mysql|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
hours=200/60
print(hours)

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* List popular tools for Data Science
* List expressions

## Author
ZiLing Bu